.FindSection {
  width: 1200px;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.FindBox {
  width: 40%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  border: 3px solid #85c89a;
  border-radius: 10px;
  margin: 0 auto;
  justify-content: space-around;
}
.FindBox h1 {
  text-align: center;
}
.FindForm {
  width: 70%;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.FindForm label {
  text-align: left;
}
.FindForm input {
  height: 30px;
  border: 1px solid #85c89a;
  border-radius: 10px;
  padding-left: 10px;
}
.FindButton button {
  width: 70%;
  height: 30px;
  background-color: #85c89a;
  border: 1px solid #85c89a;
  border-radius: 10px;
  transition: all 0.5s;
  margin: 0 auto;
}
.FindButton {
  width: 70%;
  height: 30px;
  /* padding: 10px; */
  margin: 0 auto;
}
.FindButton button {
  width: 100%;
  height: 30px;
}
.FindButton button:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}
.PwFind {
  width: 80%;
  height: 8%;
  border: 2px solid #85c89a;
  border-radius: 10px;
  margin: 0 auto;
  text-align: center;
  line-height: 36px;
}
.resultbox {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.nickname,
.finduserpw {
  color: green;
  font-size: 20px;
  font-weight: 600;
}
.pwlogin {
  width: 100%;
  height: 10%;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pwlogin button {
  color: black;
  font-weight: lighter;
  background-color: #85c89a;
  border: 1px solid green;
  border-radius: 10px;
  width: 50%;
  height: 40px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}
.pwlogin button:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}
@media only screen and (max-width: 620px) {
  .FindSection {
    width: 390px;
  }
  .FindBox {
    width: 98%;
    height: 60%;
    border: 3px solid #85c89a;
    border-color: #85c89a;
  }
}
