.wrap{width: 1000px;
      height: auto;
      margin: 0 auto;}

.main{width: 400px;
      margin: 200px auto;}

.wrap .dice div img{width: 100px;
                    height: 100px;
                    margin-right: 20px;}

.wrap .user div img{width: 100px;
                    height: 100px;
                    margin-right: 20px;}
                    
                    


.user{display: flex;
      width: 400px;
      margin-top: 50px;}

.dice{display: flex;
      
      width: 380px;}

.bt{display: flex;
    width: 400px;
    margin-top: 20px;}
   
.bt1{margin-left: 15px;}    

.bt2{margin-left: 250px;}

#result{margin-top: 20px;
        margin-left: 15px;    }

