#wrap{width: 100%;
      height: auto;}

#top{width: 1200px;
     height: 80px;
     margin: 0 auto;
     display: flex;}

#logo_id{width: 300px;
         height: auto;}

#logo{width: 250px;
    height: auto;}

#logo img{padding-top: 10px;
          width: 240px;
          margin-left: 40px;}     

#top_menu ul{display: flex;}


#menu{width: 1000px;
    /* height: 80px; */
    position: relative;
    margin-top: 30px;
    font-size: 15px;
    }

#menu ul{list-style: none;
       padding: 0;
       margin: 0;
       position: relative;}

#main_menu{width: 1000px;
         height: 40px;
         position: relative;
         }

#main_menu>li{width: 200px;
            height: 40px;
            line-height: 40px;
            float: left;
            text-align: center;
            position: relative;}

.top_img{width: 800px;
             height:40px;
             position: relative;}

.top_img img{position: absolute;
             right: 20px;
             width: 700px;
             height: 50px;}


#main_menu .sub{display: none;
                }

#main_menu:hover .sub{display: block;
                    background-color: white;
                    height: 240px;
                    z-index: 1;}

#main_menu:hover  .event{cursor: pointer;}             
        
.sub1 li{float: left;
         margin-left: 70px;
         font-size: 10px;}     
         
.sub2 li{float: left;
    margin-left: 55px;
    font-size: 10px;}  
    
.sub3 li{float: left;
    margin-left: 58px;
    font-size: 10px;}  
    
.sub4 li{float: left;
    margin-left: 68px;
    font-size: 10px;}  
    
.sub5 li{float: left;
    margin-left: 65px;
    font-size: 10px;}                

#top_menu ul li{list-style-type: none;
                font-size: 16px;
                font-weight: 700;
                margin-right: 30px;}

#main_logo{width:600px;}

#main_logo img{width: 200px;
               margin-right: 50px;
               float: right;}

#mid{width: 1200px;
     margin: 0 auto;
     display: flex;
    }

#login{
       width: 300px;
       height: 550px;
       margin-top: 30px;
       margin-left: 20px;}

.id{display: flex;
    padding: 0 20px;
    margin-top: 20px ;}

.id div{font-size: 14px;
        font-weight: 600;
        margin-left: 5px;}

.id input{border-radius: 5px;
          border: 1px solid #999;
          margin-left: 20px;
          width: 170px;
          text-align: center;}

.login{height: 20px;
       position: relative;}

.pw{display: flex;
    margin-top: 10px;}
        
.pw div{font-size: 14px;
        font-weight: 600;
        margin-left: 24px;}
        
.pw input{width: 170px;
          border-radius: 5px;
          margin-left: 7px;
          text-align: center;
          border: 1px solid #999;}
        
.menu_login{width: 240px;
            border: 1px solid #999;
            border-radius: 5px;
            margin-left: 20px;
            margin-top: 10px;
            text-align: center;}

.menu_login a{text-decoration: none;
              color: #999;}

.menu_tap{width: 300px;}

.menu_tap div{width: 240px;
              border-radius: 20px;
              border: 1px solid #999;
              margin-left: 20px;
              margin-top: 50px;
              text-align: center;             
              padding: 8px 0;}

.menu_tap div a{text-decoration: none;
                color: #999;}

.menu_tap div a:hover{cursor: pointer;}

.id_search{width: 240px;
           margin-left: 25px;
           margin-top: 10px;}

.id_search a{text-decoration: none;
             color: black;}

.mainpic{position: relative;
         max-width: 1200px;
         margin-top: 50px;}

.mainpic .sidebox a img{max-width: 840px;}         

.QnA{position: absolute;
     bottom: 40px;
     margin-left: 17px;
     width: 790px;
     height: 100px;
     display: flex;
     }

.QnA div{padding: 15px 30px;
         text-align: center;}

.font{margin-top: 10px;
      font-size: 18px;
      font-weight: 700;}

.font2{font-size: 12px;}

[name="slide"] {display:none;}
.slidebox {max-width:800px;width:100%;margin:0 auto;text-align:center;}
.slidebox img {width:720px; margin-right: 50px; height: 300px;}
.slidebox .slidelist {
    white-space:nowrap;
    font-size:0;
    overflow:hidden;
    
}
.slidebox .slideitem {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    width:100%;
    transition:all .35s;
}
.slidebox .slideitem label {
    position:absolute;
    z-index:1;
    top:50%;
    transform:translateY(-50%);
    padding:20px;
    border-radius:50%;
    cursor:pointer;
}
label.left {
    opacity: 0.3;
    left:20px;
    background-color:#5F5F5F;
    background-image:url('../img/left-arrow.png');
    background-position:center center;
    background-size:50%;
    background-repeat:no-repeat;
}
label.right {
    opacity: 0.3;
    right:50px;
    background-color:#5F5F5F;
    background-image: url('../img/right-arrow.png');
    background-position:center center;
    background-size:50%;
    background-repeat:no-repeat;
}

.mainimg{width: 840px;}


/* 페이징 스타일 */
.paginglist {text-align:center;padding:30px 0;}
.paginglist > li {display:inline-block;vertical-align:middle;margin:0 10px;}
.paginglist > li > label {display:block;padding:10px 30px;border-radius:10px;background:#ccc;cursor:pointer;}
.paginglist > li:hover > label {background:#333;}

[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0);animation:slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide04 20s infinite;}

@keyframes slide01 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:-300%;}
    98% {left:-300%;}
    100% {left:0%;}
}
@keyframes slide02 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:-200%;}
    73% {left:-200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
@keyframes slide03 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:-100%;}
    48% {left:-100%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}
@keyframes slide04 {
    0% {left:0%;}
    23% {left:0%;}
    25% {left:300%;}
    48% {left:300%;}
    50% {left:200%;}
    73% {left:200%;}
    75% {left:100%;}
    98% {left:100%;}
    100% {left:0%;}
}

.bottom{width: 1200px;
        font-size: 11px;
        margin:0 auto;}

.bot{margin-left: 20px;
    border-top: 1px solid #777;
    width: 1070px;}

.bot_top{margin-top: 20px;}

.bot a{text-decoration: none;color: black; margin-right: 10px;}

.a_tag{width: 20px;
       padding: 2px;
       border-radius: 100px;
       
       background: #777;}

.bot_mid{margin-top: 5px;}





