@import '../../common/colors.css';
.footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 10%;
}
.footer .Icons img {
  width: 40px;
  margin: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}
.waterMark {
  color: rgb(120, 120, 123);
  text-align: center;
  padding: 5px;
  font-size: 10px;
}
.footerInform {
  padding: 0 8%;
  font-size: 10px;
  color: var(--font-secondary);
  line-height: 1.8;
}
strong {
  font-size: 10px;
}
.businessInform {
  width: 80%;
  margin: 0 auto;
}
/* 태블릿 */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .footer .Icons img {
    width: 60px;
    margin: 10px;
  }
}
/* 웹 */
@media only screen and (min-width: 1024px) {
  .footer .Icons img {
    width: 70px;
    margin: 10px;
  }

  .businessInform {
    width: 800px;
    margin: 0 auto;
  }
}
