.titleFontLikeCamping {
  margin: 0 auto;
  margin-bottom: 20px;
  height: 60px;
  line-height: 80px;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  width: 150px;
  border-bottom: 2px solid black;
}
.contentsLikeCamping {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 90%;
  border: none;
  border-radius: 10px;
}
.contentsImgLikeCamping {
  width: 100%;
  height: 150px;
  background-color: aqua;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.contentsTextLikeCamping {
  height: 95px;
  padding: 15px;
}
.contentsRowFlexLikeCamping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contentsNameLikeCamping {
  font-size: 25px;
}
.contentsHeartLikeCamping {
  width: 50px;
}
.contentsInfoLikeCamping {
  color: gray;
  font-size: 20px;
}
